<h1>Editing sinonimo</h1>

<% form_for(@sinonimo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :mapeado %><br />
    <%= f.text_area :mapeado %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @sinonimo %> |
<%= link_to 'Back', sinonimos_path %>