<h1>Listing sinonimos</h1>

<table>
  <tr>
    <th class="ui-state-active">Nombre</th>
    <th class="ui-state-active"></th>
  </tr>

<% @sinonimos.each do |sinonimo| %>
  <tr>
    <td><%=h sinonimo.nombre %></td>
    <td><%= link_to 'Show', sinonimo %>
    <%= link_to 'Edit', edit_sinonimo_path(sinonimo) %>
    <%= link_to 'Destroy', sinonimo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sinonimo', new_sinonimo_path %>
