<h1>Listing hojas</h1>

<table>
  <tr>
    <th>Archivo</th>
    <th>Nombre</th>
    <th>Numero</th>
  </tr>

<% @hojas.each do |hoja| %>
  <tr>
    <td><%=h hoja.archivo %></td>
    <td><%=h hoja.nombre %></td>
    <td><%=h hoja.numero %></td>
    <td><%= link_to 'Show', hoja %></td>
    <td><%= link_to 'Edit', edit_hoja_path(hoja) %></td>
    <td><%= link_to 'Destroy', hoja, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New hoja', new_hoja_path %>