<% f.inputs do %>
  <%= f.input :hoja_id, :as => :hidden %>
  <%= f.input :nombre, :input_html => {:size => 40} %>
  <li class="string"><label>Inicio</label><span id="span_celda_inicial">
      <%= @area.celda_inicial.nil? ? "&nbsp;" : @area.celda_inicial.split("_")[1].to_i.excel_col %></span></li>
  <li class="string"><label>Fin</label><span id="span_celda_final">
      <%= @area.celda_final.nil? ? "&nbsp;" : @area.celda_final.split("_")[1].to_i.excel_col %></span></li>
  <%= f.input :celda_inicial, :as => :hidden %>
  <%= f.input :celda_final, :as => :hidden %>
  <%= f.input :rango, :input_html => {:size => 2} %>
  <%= f.input :fija, :hint => 'Indica si es que la dimención del área es fija o varia por los datos' %>
  <%= f.input :iterar_fila, :hint => 'Indica si itera fila o columna' %>
<% end %>
