<h1>Editing area</h1>

<% form_for(@area) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :hoja %><br />
    <%= f.text_field :hoja %>
  </p>
  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :celda_inicial %><br />
    <%= f.text_field :celda_inicial %>
  </p>
  <p>
    <%= f.label :celda_final %><br />
    <%= f.text_field :celda_final %>
  </p>
  <p>
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </p>
  <p>
    <%= f.label :rango %><br />
    <%= f.text_field :rango %>
  </p>
  <p>
    <%= f.label :fija %><br />
    <%= f.check_box :fija %>
  </p>
  <p>
    <%= f.label :iterar_fila %><br />
    <%= f.check_box :iterar_fila %>
  </p>
  <p>
    <%= f.label :encabezado %><br />
    <%= f.text_area :encabezado %>
  </p>
  <p>
    <%= f.label :titular %><br />
    <%= f.text_area :titular %>
  </p>
  <p>
    <%= f.label :fin %><br />
    <%= f.text_area :fin %>
  </p>
  <p>
    <%= f.label :no_importar %><br />
    <%= f.text_area :no_importar %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @area %> |
<%= link_to 'Back', areas_path %>