<p>
  <b>Hoja:</b>
  <%=h @area.hoja %>
</p>

<p>
  <b>Nombre:</b>
  <%=h @area.nombre %>
</p>

<p>
  <b>Celda inicial:</b>
  <%=h @area.celda_inicial %>
</p>

<p>
  <b>Celda final:</b>
  <%=h @area.celda_final %>
</p>

<p>
  <b>Tipo:</b>
  <%=h @area.tipo %>
</p>

<p>
  <b>Rango:</b>
  <%=h @area.rango %>
</p>

<p>
  <b>Fija:</b>
  <%=h @area.fija %>
</p>

<p>
  <b>Iterar fila:</b>
  <%=h @area.iterar_fila %>
</p>

<p>
  <b>Encabezado:</b>
  <%=h @area.encabezado %>
</p>

<p>
  <b>Titular:</b>
  <%=h @area.titular %>
</p>

<p>
  <b>Fin:</b>
  <%=h @area.fin %>
</p>

<p>
  <b>No importar:</b>
  <%=h @area.no_importar %>
</p>


<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>