<!--Construye los divs para cada hoja obteniendo el contenido html por ajax-->
<!--Si el div ya tiene contenido html no carga por ajax solo lo muestra -->

<script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
  hoja_id = '<%= @hoja.id %>';
//]]>
</script>
<div id="sheets" class="sheet-sheets" style="border: 0px;">
  <div id="sheet-<%= @hoja.numero %>" class="sheet visible">
    <%= @hoja.html %>
  </div>

  <% @archivo.lista_hojas.size.times do |i| %>
    <%= %{<div id="sheet-#{i}" class="sheet"></div>} if i > 0 %>
  <% end %>
 
  <div class="scroll">
    <table border="0" style="padding: 0px"><tr>
        <td><label id="scroll_start"><img src="/images/icons/first.png" /></label></td>
        <td><label id="scroll_left"><img src="/images/icons/previous.png" /></label></td>
        <td><label id="scroll_right"><img src="/images/icons/next.png" /></label></td>
        <td><label id="scroll_end"><img src="/images/icons/last.png" /></label></td>
    </tr></table>
  </div>

  <!--Tabs-->
  <div class="lista_hojas" id="lista_hojas">
    <table><tr>
        <% @archivo.lista_hojas.each_with_index do |hoja, i| %>
          <td><a href="#sheet-<%= i %>" class="ui-corner-bl ui-corner-br<%= ' active' if i == 0 %>" ><span><%= hoja || "Hoja #{i + 1}" %></span></a></td>
        <% end %>
    </tr></table>
  </div>
</div>
