<!--Construye los divs para cada hoja obteniendo el contenido html por ajax-->
<!--Si el div ya tiene contenido html no carga por ajax solo lo muestra -->

<script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
  hoja_id = '<%= @hoja.id %>';
//]]>
</script>
<div id="sheets" class="sheet-sheets" style="border: 0px;">
  <div id="sheet-<%= @hoja.numero %>" class="sheet visible"><%= @hoja.html %></div>

  <% @archivo.lista_hojas.size.times do |i| %>
    <%= %{<div id="sheet-#{i}" class="sheet"></div>} if i > 0 %>
  <% end %>
 
  <div class="scroll">
    <table><tr>
        <td><label id="scroll_start">&lt;&lt;</label></td>
        <td><label id="scroll_left">&lt;</label></td>
        <td><label id="scroll_right">&gt;</label></td>
        <td><label id="scroll_end">&gt;&gt;</label></td>
    </tr></table>
  </div>

  <!--Tabs-->
  <div class="lista_hojas" id="lista_hojas">
    <table><tr>
        <% @archivo.lista_hojas.each_with_index do |hoja, i| %>
          <td><a href="#sheet-<%= i %>" <%= 'class="active"' if i == 0 %> ><span><%= hoja || "Hoja #{i + 1}" %></span></a></td>
        <% end %>
    </tr></table>
  </div>

</div>
<!--Para el menu contextual-->
<div class="contextMenu" id="popup-menu">
  <ul>
    <li id="menu-area"><img src="folder.png" /> Marcar &aacute;rea de importaci&oacute;n</li>
    <li id="menu-encabezado"><img src="email.png" /> Encabezado</li>
    <li id="menu-titular"><img src="disk.png" /> Titular</li>
    <li id="menu-fin"><img src="cross.png" /> Fin</li>
    <li id="menu-descartar"><img src="cross.png" /> Descartar</li>
  </ul>
</div>
<!--Para el formulario de las columnas a descartar-->
<div id="formulario-descartar">
    <form action="#" method="post">
      <label for="columnas">Seleccione las columnas a utilizar como patr&oacute;n</label>
      <select id="columnas" multiple="multiple" name="columnas[]" title="" style="width:250px">
                          <option selected="selected">Amsterdam</option>      
                          <option>Atlanta</option>
                          <option>Baltimore</option>
                          <option>Dubai</option>
                          <option>Toronto</option>
                          <option>Vancouver</option>
      </select>
      <p><input type="submit" name="submit" value="Marcar" /></p>
    </form>
</div>
