<!--Construye los divs para cada hoja obteniendo el contenido html por ajax-->
<!--Si el div ya tiene contenido html no carga por ajax solo lo muestra -->

<script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
  hoja_id = '<%= @hoja.id %>';
//]]>
</script>
<div id="sheets" class="sheet-sheets" style="border: 0px;">
  <div id="sheet-<%= @hoja.numero %>" class="sheet visible"><%= @hoja.html %></div>

  <% @archivo.lista_hojas.size.times do |i| %>
    <%= %{<div id="sheet-#{i}" class="sheet"></div>} if i > 0 %>
  <% end %>
 
  <div class="scroll">
    <table><tr>
        <td><label id="scroll_start">&lt;&lt;</label></td>
        <td><label id="scroll_left">&lt;</label></td>
        <td><label id="scroll_right">&gt;</label></td>
        <td><label id="scroll_end">&gt;&gt;</label></td>
    </tr></table>
  </div>

  <!--Tabs-->
  <div class="lista_hojas" id="lista_hojas">
    <table><tr>
        <% @archivo.lista_hojas.each_with_index do |hoja, i| %>
          <td><a href="#sheet-<%= i %>" <%= 'class="active"' if i == 0 %> ><span><%= hoja || "Hoja #{i + 1}" %></span></a></td>
        <% end %>
    </tr></table>
  </div>

</div>

