<h1>Listing archivos</h1>

<table>
  <tr>
    <th class="ui-state-active">Nombre</th>
    <th class="ui-state-active">Descripcion</th>
    <th class="ui-state-active">Usuario</th>
    <th class="ui-state-active">Archivo excel</th>
    <th class="ui-state-active"></th> 
  </tr>

<% @archivos.each do |archivo| %>
  <tr>
    <td><%=h archivo.nombre %></td>
    <td><%=h archivo.descripcion.size > 70 ? archivo.descripcion[0, 70] + '...' : archivo.descripcion %></td>
    <td><%=h archivo.usuario %></td>
    <td><%=h archivo.archivo_excel_file_name %></td>
    <td>
      <%= link_to 'Ver', archivo %>
      <%= link_to 'Editar', edit_archivo_path(archivo) %>
      <%= link_to 'Borrar', archivo, :class => 'delete' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo archivo', new_archivo_path %>
