<script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
  archivo_id = '<%= @archivo.id %>';
  hoja_id = '<%= @hoja.id %>';
  hoja_numero = '<%= @hoja.numero %>';
//]]>
</script>

<style type="text/css" media="screen">
  #formulario-areas label{width: 7em;}
  #formulario-areas{display:none;}
</style>

<%= render :partial => "areas/form" %>

<%= javascript_include_tag "plugins/jquery.scrollTo-min","plugins/jquery.rightClick", :cache => "plugins" %>
<%= javascript_include_tag "tabla/spreadsheet",  "tabla/area", "tabla/area_general", "tabla/menu_contextual",
"tabla/titular", "tabla/encabezado", "tabla/descartar", "tabla/tabla_iniciar", 
"tabla/formulario", "tabla/formulario_descartar", "tabla/formulario_descartar_excepciones", :cache => "todo" %>
  
<%= stylesheet_link_tag "tabla/jquery.asmselect" %>

<%# link_to 'Listado', archivos_path %>
<%= render :partial => 'test' if params[:test] and RAILS_ENV == "development" %>

<%= render :partial => 'encabezado' %>
<%= render :partial => 'detalle' %>

<!--Popup Menu y Formulario Descartar-->
<%= render :partial => "areas/form_descartar" %>

<!--Formulario Descartar, Seleccion de columnas excepciones-->
<%= render :partial => "areas/form_descartar_excepciones" %>

<!--Menu contextual-->
<div id="menu-contextual" style="display:none" class="menu-contextual">
  <ul>
  </ul>
</div>

<%= javascript_include_tag "test/#{params[:js]}" if params[:js] if RAILS_ENV == "development" and params[:js]%>
<script type="text/javascript" language="javascript" charset="utf-8">
  //<![CDATA[
$(document).ready(function() {
  $("div#formulario-areas").dialog({'width': 600, 'height': 500 ,'resizable': false, 'modal': true, 'title': 'Detalles areas'}).dialog('close');
  $("#area-tabs").tabs();

  //Para el formulario de los patrones de las columnas a descartar
  $("div#formulario-descartar").dialog({'width': 600, 'height': 400, 'resizable': false, 'modal': true, 'title': 'Patrones de columnas a descartar'}).dialog('close');
  $("div#formulario-descartar-excepciones").dialog({'width': 300, 'height': 250, 'resizable': false, 'modal': false, 'title': 'Excepciones'}).dialog('close');

});
  //]]>
</script>
