<%= error_messages_for :usuario_session %>
<% form_for @usuario_session do |f| %>
  <div>
    <%= f.label :login, "Usuario:" %><br/>
    <%= f.text_field :login %>
  </div>
  <div>
    <%= f.label :password, "Contraseña:" %><br/>
    <%= f.password_field :password %>
  </div>
  <div><%= f.submit "Ingresar", :class => 'ui-state-active' %></div>
<% end %>
