<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <title><%= h(yield(:title) || "")  %> - <%= APP_NAME %></title>
  <%= stylesheet_link_tag "style",  "../javascripts/jquery-ui/css/custom-theme/jquery-ui-1.7.2.custom.css", :cache => "styles" %>

  <%= javascript_include_tag "jquery-1.3.2.min.js", "jquery-ui-1.7.2.custom.min.js", "jquery-ui/js/ui.datepicker-es.js", :cache => "scripts" %>

  <script type="text/javascript" language="javascript" charset="utf-8">
    //<![CDATA[
    var token = '<%= form_authenticity_token() %>';
    $(document).ready(function() {
      $('a.delete').live("click", function() {
        var item = $(this).parents("li,tr").addClass("markedForDelete");
        if(confirm("Esta seguro de borrar?")){
          $.ajax({ 
            url: $(this).attr("href"),
            authenticity_token: token,
            type: "DELETE",
            success: function() { item.remove(); },
            error: function() { alert("Error al borrar"); }
          });
          }else{
            item.removeClass("markedForDelete");
          }
        return false;
      });
    });
    //]]>
  </script>

</head>
<body>
  
<div id="debug-error" style="display:none; width: 640px; height: 480px; overflow: auto; z-index: 10000"></div> 

<div id="cont">
  <ul>
    <li><a href="/usuarios">Usuarios</a></li>
    <li><a href="/archivos">Archivos</a></li>

  </ul>

  <div id="flashNotice"><%= flash[:notice] %></div>
  <%= yield %>
</div>
</body>
</html>
