<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <title><%= h(yield(:title) || "")  %> - <%= APP_NAME %></title>
  <%= stylesheet_link_tag "style",  "../javascripts/jquery-ui/css/custom-theme/jquery-ui-1.7.2.custom.css", :cache => "styles" %>
  <%# stylesheet_link_tag "formtastic", "formtastic_changes" %>

  <%= javascript_include_tag "jquery-1.3.2.min.js", "jquery-ui-1.7.2.custom.min.js", "jquery-ui/js/ui.datepicker-es.js", :cache => "scripts" %>


</head>
<body>

  <div id="debug-error" style="display:none; width: 640px; height: 480px; overflow: auto; z-index: 10000; background:#FFF;color:#000"
    <iframe id="cont-iframe" width="100%" height="100%"></iframe>
  </div>


  <div id="cont">
    <ul>
      <li><a href="/usuarios">Usuarios</a></li>
      <li><a href="/archivos">Archivos</a></li>

    </ul>

    <div id="flashNotice"><%= flash[:notice] %></div>
    <%= yield %>
  </div>

</body>
</html>
<script type="text/javascript" language="javascript" charset="utf-8">
  //<![CDATA[
  var token = '<%= form_authenticity_token() %>';
  $(document).ready(function() {
    $('a.delete').live("click", function() {
      var item = $(this).parents("li,tr").addClass("markedForDelete");
      var uri = $(this).attr("href");
      if(confirm("Esta seguro de borrar?")){
        $.post( uri, {_method: 'delete', authenticity_token: token}, function(resp) {
          item.remove();
        });
        item.removeClass("markedForDelete");
      }else{
        item.removeClass("markedForDelete");
      }
      return false;
    });
  });
  //]]>

  xhrResponseText = "";
  function cargarError() {
    $('#cont-iframe').contents().find("body").html(xhrResponseText);
  }

  var environment = "<%= RAILS_ENV %>";

  $.ajaxSetup ({
    type : "GET",
    dataType : "html",
    beforeSend : function (xhr) {
      //$('#cargando').show();
    },
    error : function(event){
      xhrResponseText = event.responseText;
      $('#cargando').hide(1000);
      if(environment == "production") {
        alert("Existio un error");
      }else{
        if($("#debug-error").hasClass("ui-dialog-content")) {
          $("#debug-error").dialog('open');
        }else{
          $("#debug-error").dialog({width: 800, height: 600});
        }
        setTimeout(function(){cargarError(event)}, 200);
      }
    },
    complete : function(event){
      $('#cargando').hide(1000);
    },
    success : function(event){
      $('#cargando').hide(1000);
    }
  });

</script>

